    {% extends 'base.html' %}
    
    {% block content %}
        
  
        

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
    
        <!-- Button trigger modal -->

    
    <!-- Modal -->
    <div
    class="modal fade"
    id="my_modal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
          <button
            type="button"
            class="btn-close"
            data-mdb-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
            <p>Are you sure  you want to delete ? <strong>
                {{ object.name }}
            </strong></p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'list' %}" class="btn btn-primary">Back to list</a>

          <button type="submit" class="btn btn-danger">Confim Delete</button>
        </div>
      </div>
    </div>
    </div>
    </form>

    {% endblock content %}




    