<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document:</title>
   <!-- class .shuvo in embedded style css method -->
    <style>
        .shuvo{
            background-color:red;
            color: yellow;
        }
    </style>
    <!-- end css -->

    <style>
        .hasibur{
            width: 200px;
            height: 200px;
            border: 2px solid blue;
        }

    </style>

    
</head>
<body>
    <div>
    <h1 class="shuvo">Welcome to second Django class </h1>
    <!-- multi class in same h1 -->
    <h1 class="shuvo hasibur">Welcome to second Django class </h1>
    </div>


    <!--  inline style csss -->
    <div style="border: 5px dotted green">
        Amaka aro valo korea css shikthea hobe!
        
    </div>
</body>
</html>